<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	
	<link href="templatemo_style.css" type="text/css" rel="stylesheet" /> 
	<script type="text/javascript" src="js/jquery.min.js"></script> 
	<script type="text/javascript" src="js/jquery.scrollTo-min.js"></script> 
	<script type="text/javascript" src="js/jquery.localscroll-min.js"></script> 
	<script type="text/javascript" src="js/init.js"></script> 
    
    <link rel="stylesheet" href="css/slimbox2.css" type="text/css" media="screen" /> 
    <script type="text/JavaScript" src="js/slimbox2.js"></script> 

<link rel="stylesheet" href="css/orman.css" type="text/css" media="screen" />
<link rel="stylesheet" href="css/nivo-slider.css" type="text/css" media="screen" />
	
	
	
</head>
<body>

<div id="templatemo_wrapper">
<div id="templatemo_header">
    <div id="site_title"><a href="#"></a></div>
    <ul class="nav_menu">
        <li><a href="/">Inicio</a></li>
        <li><a href="/addUser">Registro</a></li>
        <li><a href="/">Reserva</a></li>
        <li><a href="/">Carta</a></li>
        <li><a href="/agregarContacto">Contacto</a></li>
        
        
    </ul>
    <div class="social_button">
    	<a href="#"><img src="images/facebook.png" alt="Facebook" /></a>
		<a href="#"><img src="images/flickr.png" alt="Flickr" /></a>
		<a href="#"><img src="images/twitter.png" alt="Twitter" /></a>
		
		
        <div class="clear"></div>
    </div>
    <p>
    Copyright © 2017<br />Company Name</p>
    
</div>


<div id="templatemo_main">
<div id="content"> 
	 <form action="#" th:action="@{/agregarContacto}" th:object="${contacto}" method="post" name="contact" >
                        <table>
		<tr> 
			<td><p th:text="#{nombre}"/></td>
			<td><input type="text" th:field="*{nombre}"/></td>
			<td th:if="${#fields.hasErrors('nombre')}"  th:errors="*{nombre}"
			style="color: #ff0000;">Nombre:</td>
		</tr>     
		
		<tr> 
			<td><p th:text="#{correo}"/></td>
			<td><input type="email" th:field="*{correo}"/></td>
			<td th:if="${#fields.hasErrors('correo')}"  th:errors="*{correo}"
			style="color: #ff0000;">Correo:</td>
		</tr>
		
		<tr> 
			<td><p th:text="#{queja}"/></td>
			<td><textarea id="message" name="text" rows="0" cols="0" th:field="*{queja}"></textarea></td>
			<td th:if="${#fields.hasErrors('queja')}"  th:errors="*{queja}"
			style="color: #ff0000;">Queja:</td>
		</tr>  
		          
    	<tr>
			<td>&nbsp;</td>
			<td>
				<input type="submit" value="enviar"/>
				<input type="reset" value="cancelar"/>
				
                      
			</td>
			<td>&nbsp;</td>
		</tr>
	</table>
	 </form>
	
</div>
	
</div>		
</div>	
</body>
</html>