<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Agregar Producto</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<!-- 
Dragonfly Template 
http://www.templatemo.com/preview/templatemo_378_dragonfly 
-->
	<link href="templatemo_style.css" type="text/css" rel="stylesheet" /> 
	<script type="text/javascript" src="js/jquery.min.js"></script> 
	<script type="text/javascript" src="js/jquery.scrollTo-min.js"></script> 
	<script type="text/javascript" src="js/jquery.localscroll-min.js"></script> 
	<script type="text/javascript" src="js/init.js"></script> 
    
    <link rel="stylesheet" href="css/slimbox2.css" type="text/css" media="screen" /> 
    <script type="text/JavaScript" src="js/slimbox2.js"></script> 

<link rel="stylesheet" href="css/orman.css" type="text/css" media="screen" />
<link rel="stylesheet" href="css/nivo-slider.css" type="text/css" media="screen" />

</head> 
<body> 
<div id="templatemo_wrapper">
<div id="templatemo_header">
   <div id="site_title" style="margin-bottom:30px"><a href="#"></a></div>
    <h2>Admin</h2>
    <ul class="nav_menu" style="margin: 0 0 30px 0">
        <li><a href="/indexAdmin">Inicio</a></li>
        <li><a href="#gallery">Carta</a></li>
        <li><a href="#contact">Contacto</a></li>
        <li><a href="/listarCuentas">Listar Cuentas</a></li>
        <li><a href="/agregarProducto">Agregar Producto</a></li>
        <li><a href="/listarProductos">Listar Productos</a></li>
        <li><a href="/listarContacto">Listar Contactos</a></li>
        <li><a href="/"><p style="color: black">Log out</p></a></li>
    </ul>
    <div class="social_button" style="margin-bottom:20px">
    	<a href="#"><img src="images/facebook.png" alt="Facebook" /></a>
		<a href="#"><img src="images/flickr.png" alt="Flickr" /></a>
		<a href="#"><img src="images/twitter.png" alt="Twitter" /></a>

        <div class="clear"></div>
    </div>
    <p>
    Copyright © 2017<br />Company Name</p>
</div>

<div class="section section_with_padding" id="about"> 
	<h1>Agregar Producto</h1>
	<p>
		<div id="contact_form">
			<form action="#" th:action="@{/agregarProducto}" th:object="${producto}" method="post" >
     			<table>
					<tr> 
						<td><p th:text="#{nombre}"/></td>
						<td><input type="text" th:field="*{nombre}"/></td>
						<td th:if="${#fields.hasErrors('nombre')}"  th:errors="*{nombre}"
						style="color: #ff0000;">Producto:</td>
					</tr>     
					<tr> 
						<td><p th:text="#{precio}"/></td>
						<td><input type="text" th:field="*{precio}"/></td>
						<td th:if="${#fields.hasErrors('precio')}"  th:errors="*{precio}"
						style="color: #ff0000;">Precio:</td>
					</tr>
					<tr> 
						<td><p th:text="#{cantidad}"/></td>
						<td><input type="text" th:field="*{cantidad}"/></td>
						<td th:if="${#fields.hasErrors('cantidad')}"  th:errors="*{cantidad}"
						style="color: #ff0000;">Cantidad:</td>
					</tr>
		
		          
    				<tr>
						<td>&nbsp;</td>
						<td>
							<input type="submit" value="enviar"/>
							<input type="reset" value="cancelar"/>
				
                      
						</td>
						<td>&nbsp;</td>
					</tr>
				</table>
			</form>
		</div>
	</p>
</div>

</div>
</body>
</html>