<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Agregar Persona</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<!-- 
Dragonfly Template 
http://www.templatemo.com/preview/templatemo_378_dragonfly 
-->
	<link href="templatemo_style.css" type="text/css" rel="stylesheet" /> 
	<script type="text/javascript" src="js/jquery.min.js"></script> 
	<script type="text/javascript" src="js/jquery.scrollTo-min.js"></script> 
	<script type="text/javascript" src="js/jquery.localscroll-min.js"></script> 
	<script type="text/javascript" src="js/init.js"></script> 
    
    <link rel="stylesheet" href="css/slimbox2.css" type="text/css" media="screen" /> 
    <script type="text/JavaScript" src="js/slimbox2.js"></script> 

<link rel="stylesheet" href="css/orman.css" type="text/css" media="screen" />
<link rel="stylesheet" href="css/nivo-slider.css" type="text/css" media="screen" />


</head> 
<body> 
<div id="templatemo_wrapper">
<div id="templatemo_header">
    <div id="site_title"><a href="#"></a></div>
    <ul class="nav_menu">
        <li><a href="#home">Inicio</a></li>
        <li><a href="/addUser">Registro</a></li>
        <li><a href="/acceder">Login</a></li>
        <li><a href="#services">Reserva</a></li>
        <li><a href="#gallery">Carta</a></li>
        <li><a href="#contact">Contacto</a></li>
        <li><a href="/listarCuentas">Listar</a></li>
        <li><a href="/agregarProducto">Producto</a></li>
        
        
    </ul>
    <div class="social_button">
    	<a href="#"><img src="images/facebook.png" alt="Facebook" /></a>
		<a href="#"><img src="images/flickr.png" alt="Flickr" /></a>
		<a href="#"><img src="images/twitter.png" alt="Twitter" /></a>
		
		
        <div class="clear"></div>
    </div>
    <p>
    Copyright © 2017<br />Company Name</p>
</div>

<div class="section section_with_padding" id="about"> 
	<h1>Agregar Persona</h1>
	<p>
		<div id="contact_form">
			<form action="#" th:action="@{/addUser}" th:object="${persona}" method="post" name="contact" >
     			<table>
					<tr> 
						<td><p th:text="#{nombre}"/></td>
						<td><input type="text" th:field="*{nombre}"/></td>
						<td th:if="${#fields.hasErrors('nombre')}"  th:errors="*{nombre}"
						style="color: #ff0000;">Nombre:</td>
					</tr>     
					<tr> 
						<td><p th:text="#{apellido}"/></td>
						<td><input type="text" th:field="*{apellido}"/></td>
						<td th:if="${#fields.hasErrors('apellido')}"  th:errors="*{apellido}"
						style="color: #ff0000;">Apellido:</td>
					</tr>
					<tr> 
						<td><p th:text="#{correo}"/></td>
						<td><input type="email" th:field="*{correo}"/></td>
						<td th:if="${#fields.hasErrors('correo')}"  th:errors="*{correo}"
						style="color: #ff0000;">Correo:</td>
					</tr>
					<tr> 
						<td><p th:text="#{password}"/></td>
						<td><input type="password" th:field="*{password}"/></td>
						<td th:if="${#fields.hasErrors('password')}"  th:errors="*{password}"
						style="color: #ff0000;">Password:</td>
					</tr>
					<tr> 
						<td><p th:text="#{confpassword}"/></td>
						<td><input type="password" th:field="*{confpassword}"/></td>
						<td th:if="${#fields.hasErrors('confpassword')}"  th:errors="*{confpassword}"
						style="color: #ff0000;">Confpassword:</td>
					</tr>         
    				<tr>
						<td>&nbsp;</td>
						<td>
							<input type="submit" value="enviar"/>
							<input type="reset" value="cancelar"/>
							<p style="color:red; text-align: left;" th:text="*{mensajeConfirmacion}" />        
						</td>
						<td>&nbsp;</td>
					</tr>
				</table>                  
			</form>
		</div>
	</p>
</div>

</div>
</body>
</html>