<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Dragonfly Website Template</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<!-- 
Dragonfly Template 
http://www.templatemo.com/preview/templatemo_378_dragonfly 
-->
	<link href="templatemo_style.css" type="text/css" rel="stylesheet" /> 
	<script type="text/javascript" src="js/jquery.min.js"></script> 
	<script type="text/javascript" src="js/jquery.scrollTo-min.js"></script> 
	<script type="text/javascript" src="js/jquery.localscroll-min.js"></script> 
	<script type="text/javascript" src="js/init.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
    
    <link rel="stylesheet" href="css/slimbox2.css" type="text/css" media="screen" /> 
    <script type="text/JavaScript" src="js/slimbox2.js"></script> 

<link rel="stylesheet" href="css/orman.css" type="text/css" media="screen" />
<link rel="stylesheet" href="css/nivo-slider.css" type="text/css" media="screen" />

<script>
function validar(){
	
nombre=$('#nombre').val();
apellido=$('#apellido').val();
email=$('#correo').val();	
password=$('#password').val();	
password2=$('#confpassword').val();	

	//Comprobamos y mostramos diferentes clases
	if (nombre==''){
		$('#respuesta_nombre').removeClass().addClass('inicio');
	}
	else {
		$('#respuesta_nombre').removeClass().addClass('ok');
	}
	if (apellido==''){
		$('#respuesta_apellido').removeClass().addClass('inicio');
	}
	else {
		$('#respuesta_apellido').removeClass().addClass('ok');
	}
	if (email==''){
		$('#respuesta_correo').removeClass().addClass('inicio');
	}
	else {
		$('#respuesta_correo').removeClass().addClass('ok');
	}
	if (password==''){
		$('#respuesta_password').removeClass().addClass('inicio');
	}
	else {
		$('#respuesta_password').removeClass().addClass('ok');
	}
	if (password2!=password){
		$('#respuesta_password2').removeClass().addClass('inicio');
	}else if (password2==''){
		$('#respuesta_password2').removeClass().addClass('inicio');
	}else{
		$('#respuesta_password2').removeClass().addClass('ok');
	}
	
	//Si no hay ningun campo vacio enviamos el formulario
	if (nombre==''|| apellido=='' || email=='' || password==''|| password2!=password){
		return false;
		}
		else return true;
}

</script>
</head> 

<body> 
<div id="templatemo_wrapper">
<div id="templatemo_header">
    <div id="site_title"><a href="#"></a></div>
    <ul class="nav_menu">
        <li><a href="#home">Inicio</a></li>
        <li><a href="#about">Registro</a></li>
        <!--<li><a href="/addUser">Registro</a></li>-->
        <li><a href="/acceder">Login</a></li>
        <li><a href="#services">Reserva</a></li>
        <li><a href="#gallery">Carta</a></li>
        <li><a href="#contact">Contacto</a></li>
        <li><a href="/listarCuentas">Listar</a></li>
        
    </ul>
    <div class="social_button">
    	<a href="#"><img src="images/facebook.png" alt="Facebook" /></a>
		<a href="#"><img src="images/flickr.png" alt="Flickr" /></a>
		<a href="#"><img src="images/twitter.png" alt="Twitter" /></a>
		
		
        <div class="clear"></div>
    </div>
    <p>
    Copyright © 2017<br />Company Name</p>
    
</div>
<div id="templatemo_main">
	<div id="content"> 
       	<div id="home" class="home_slider">
             <div class="theme-orman">
                <div id="slider" class="nivoSlider">
                    <img src="images/slider/011.jpg" alt="Dragonfly 1" rel="images/slider/011n.jpg" />
                    <img src="images/slider/012.jpg" alt="Dragonfly 2" rel="images/slider/012n.jpg" />
                    <img src="images/slider/013.jpg" alt="Dragonfly 3" rel="images/slider/013n.jpg" /></div>
            </div> 
            <script type="text/javascript" src="js/jquery-1.6.1.min.js"></script>
            <script type="text/javascript" src="js/jquery.nivo.slider.pack.js"></script>
            <script type="text/javascript">
            $(window).load(function() {
                $('#slider').nivoSlider({
                    controlNavThumbs:true,
					controlNavThumbsFromRel:true,
					directionNav:false, // Next and Prev
					keyboardNav:true, // Use left and right arrows
					pauseOnHover:true // Stop animation while hovering
                });
            });
            </script>
       	</div>
        <div class="section section_with_padding" id="about"> 
            <h1>Registro</h1>
            <p> 
                <div id="contact_form">
                	
                    <form action="about" th:action="@{/addUser}" th:object="${persona}" method="post" name="contact"  onSubmit="return validar();" >
                        
                        <span class="inicio" id="respuesta_nombre"  type="text" th:text="#{nombre}"/> 
                        <input name="nombre" type="text" class="validate-text required input_field" id="nombre" maxlength="30" th:field="*{nombre}" onBlur="validar();" placeholder="Escribe tu nombre"    />

                        <span class="inicio" id="respuesta_apellido" th:text="#{apellido}"/> 
                        <input name="apellido" type="text" class="validate-email required input_field" id="apellido" maxlength="30" th:field="*{apellido}"  onBlur="validar();" placeholder="Escribe tu nombre Apellido" />

                        <span class="inicio" id="respuesta_correo" th:text="#{correo}"/>
                        <input name="email" type="email" class="validate-email required input_field" id="email" maxlength="30" th:field="*{correo}" onBlur="validar();" placeholder="Escribe tu nombre Correo"/>
   
                        <span class="inicio" id="respuesta_password" th:text="#{password}"/> 
                        <input name="password" type="password" class="validate-password required input_field" id="password" maxlength="30" th:field="*{password}" onBlur="validar();" placeholder="Escribe tu contraseña"/>
   
                        <span class="inicio" id="respuesta_password2" th:text="#{confpassword}"/>
                        <input name="confpassword" type="password" class="validate-email required input_field" id="confpassword" maxlength="30" th:field="*{confpassword}" onBlur="validar();" placeholder="Confirma tu contraseña"/>

                        <input type="submit" class="submit_btn left" name="submit" id="btn_send" value="Crear" onClick="validar();"  />
                        <input type="reset" class="submit_btn right" name="Reset" id="reset" value="Reset" />
                        <p style="color:red; text-align: left;" th:text="*{mensajeConfirmacion}" />
                        	
            			<div id="errorblock" class="errorblock" th:if="${#fields.hasErrors('*')}">
        					<ul>
            					<li th:each="err : ${#fields.errors('*')}" th:text="${err} " style="color: #ff0000;">Datos incorrectos</li>
        					</ul>
    					</div>
                    </form>
                </div>
            </p>
        </div> 
        
        <style>
#formjquery {
	font-family: 'Open Sans', sans-serif;
}
input {
	margin:4px;
	padding:4px;
}
.inicio {
	color: rgb(55, 55, 55);
	background: #EFEFEF;
	border: 1px solid rgb(199, 199, 199);
	padding: 4px 8px;
	border-radius: 3px;
}
.ok {
  color: rgb(9, 97, 20);
  background: #B3FFBA;
  border: 1px solid rgb(42, 155, 18);
  padding: 4px 8px;
  border-radius: 3px;
}
</style>
        
        
        
        <div class="section section_with_padding" id="services"> 
            <h1>Services</h1>
            <div class="half right">
	            <div class="img_border img_nom">
	                <a href="#"><img src="images/templatemo_image_04.jpg" alt="image 4" /></a>
                </div>
            	<ul class="list_bullet">
                    <li>Maecenas ac odio ipsum donec</li>
                    <li>Fusce risus tortor, interdum</li>
                    <li>Proin facilisis ullamcorper</li>
                    <li>Sed vel justo quis ligula</li>
                    <li>Ut tristique sagittis arcu</li>
                    <li>Maecenas ac odio ipsum donec</li>
                    <li>Fusce risus tortor, interdum</li>
                    <li>Proin facilisis ullamcorper</li>
                </ul>
                
            </div>
            <div class="half left">
                <div class="img_border img_nom">
	                <img src="images/templatemo_image_03.jpg" alt="image 3" />	
                </div>
            	<p><em>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. You may download free <a href="#">templates</a> for your websites.</em></p>
            <p>Donec vitae tortor non ipsum tristique condimentum ac ac nulla. Etiam sagittis iaculis dolor ut euismod. Nam faucibus, risus at consequat malesuada, urna turpis sagittis libero, sodales hendrerit dui arcu et nisi. Praesent pulvinar, dolor id lacinia pulvinar, mi ligula tempor libero, et semper sem dolor et elit.</p>
            </div>
        </div> 
        <div class="section" id="gallery"> 
            <ul id="gallery_wrapper">
                <li><a href="images/gallery/01-l.jpg" rel="lightbox[gallery]"><img src="images/gallery/01.jpg" alt="image 01" /></a></li>
                <li><a href="images/gallery/02-l.jpg" rel="lightbox[gallery]"><img src="images/gallery/02.jpg" alt="image 02" /></a></li>
                <li><a href="images/gallery/03-l.jpg" rel="lightbox[gallery]"><img src="images/gallery/03.jpg" alt="image 03" /></a></li>
                <li><a href="images/gallery/04-l.jpg" rel="lightbox[gallery]"><img src="images/gallery/04.jpg" alt="image 04" /></a></li>
                <li><a href="images/gallery/05-l.jpg" rel="lightbox[gallery]"><img src="images/gallery/05.jpg" alt="image 05" /></a></li>
                <li><a href="images/gallery/06-l.jpg" rel="lightbox[gallery]"><img src="images/gallery/06.jpg" alt="image 06" /></a></li>
                <li><a href="images/gallery/07-l.jpg" rel="lightbox[gallery]"><img src="images/gallery/07.jpg" alt="image 07" /></a></li>
                <li><a href="images/gallery/08-l.jpg" rel="lightbox[gallery]"><img src="images/gallery/08.jpg" alt="image 08" /></a></li>                
                <li><a href="images/gallery/09-l.jpg" rel="lightbox[gallery]"><img src="images/gallery/09.jpg" alt="image 09" /></a></li>
                <li><a href="images/gallery/10-l.jpg" rel="lightbox[gallery]"><img src="images/gallery/10.jpg" alt="image 10" /></a></li>
                <li><a href="images/gallery/11-l.jpg" rel="lightbox[gallery]"><img src="images/gallery/11.jpg" alt="image 11" /></a></li>
                <li><a href="images/gallery/12-l.jpg" rel="lightbox[gallery]"><img src="images/gallery/12.jpg" alt="image 12" /></a></li>
                <li><a href="images/gallery/13-l.jpg" rel="lightbox[gallery]"><img src="images/gallery/13.jpg" alt="image 13" /></a></li>
                <li><a href="images/gallery/14-l.jpg" rel="lightbox[gallery]"><img src="images/gallery/14.jpg" alt="image 14" /></a></li>
                <li><a href="images/gallery/15-l.jpg" rel="lightbox[gallery]"><img src="images/gallery/15.jpg" alt="image 15" /></a></li>
                <li><a href="images/gallery/16-l.jpg" rel="lightbox[gallery]"><img src="images/gallery/16.jpg" alt="image 16" /></a></li>
                <li><a href="images/gallery/17-l.jpg" rel="lightbox[gallery]"><img src="images/gallery/17.jpg" alt="image 17" /></a></li>
                <li><a href="images/gallery/18-l.jpg" rel="lightbox[gallery]"><img src="images/gallery/18.jpg" alt="image 18" /></a></li>                
                <li><a href="images/gallery/19-l.jpg" rel="lightbox[gallery]"><img src="images/gallery/19.jpg" alt="image 19" /></a></li>
                <li><a href="images/gallery/20-l.jpg" rel="lightbox[gallery]"><img src="images/gallery/20.jpg" alt="image 20" /></a></li>
            </ul>	
        </div> 
        
        <div class="section section_with_padding" id="contact"> 
            <h1>Contacto</h1> 
            <div class="half left">
                <h4>&nbsp;</h4>
                <div id="contact_form">
                    <form method="post" name="contact" action="#contact">
                        <label for="author">Name:</label> 
                        	<input name="author" type="text" class="required input_field" id="author" maxlength="30" />
                        <label for="email">Email:</label> 
                        	<input name="email" type="text" class="validate-email required input_field" id="email" maxlength="30" />
                  <label for="message">Message:</label> 
                        	<textarea id="message" name="text" rows="0" cols="0" class="required"></textarea>
                        <input type="submit" class="submit_btn left" name="submit" id="submit" value="Enviar" />
                        <input type="reset" class="submit_btn right" name="Reset" id="reset" value="Reset" />
                    </form>
                </div>
            </div>
            
            <div class="half right">
                <h4>Direccion</h4>
                130-310 Duis lacinia dictum, <br />
                Vestibulum auctor, 10990<br />
            	Nam rhoncus, diam a mollis<br />
                
                <div class="clear h20"></div>
                <div class="img_nom img_border"><a href="http://goo.gl/VZrm0H" target="_blank"><img src="images/location.jpg" alt="our location" width="230" height="230" /></a></div>
            </div>
        </div> 
    </div> 
</div>
</div>
<!-- templatemo 378 dragonfly -->

</body> 
</html>