<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<!--  <meta .....> faltaba el /-->
	<title>Crear cuenta</title>
</head>
<body style="background-color:#F5DA81;">

<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #B40404;
}

li {
    float: left;
}

li a {
    display: inline-block;
    font-family: sans-serif;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #FF4000;
}
</style>

<ul>
  <li><a href="/"><img src="../src/main/resoruces/imagenes/menu.jpg" width="150px" height="40px" /></a></li>
  <li><a href="#">Nosotros</a></li>
  <li><a href="#">Carta</a></li>
  <li><a href="#">Combos</a></li>
  <li><a href="#">Reservas</a></li>
  <li><a href="#">Contáctenos</a></li>
  <li><a href="/signUp">Crear Cuenta</a><br/></li>
</ul>

<center>
<h1>Crear usuario</h1>
<form action="#" th:action="@{/signUp}" th:object="${persona}" method="post">
	<p>Nombre: <input type="text" th:field="*{nombre}"/></p>
	<p>Apellido: <input type="text" th:field="*{apellido}"/></p>
	<p>E-mail: <input type="text" th:field="*{email}"/></p>
	<p>Nombre de Usuario: <input type="text" th:field="*{username}"/></p>
	<p>Password: <input type="password" th:field="*{password}"/></p>
	<p>Confirmar Password: <input type="password" th:field="*{confirmpass}"/></p>
	<p>
		<input type="submit" value="Crear cuenta" style="background-color: #B40404; color: white"/>
	</p>
</form>
</center>
</body>
</html>